<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中国工商银行</title>
</head>
<body>
    <h1>{{ username }}</h1>
   <h1>欢迎来到中国工商银行</h1>
    <table>
        <tbody>
            <tr>
                <td><a href="{{ url_for('regist') }}">立即注册</a></td>
            </tr>
            <tr>
                <td><a href="{{ url_for('login') }}">立即登录</a></td>
            </tr>
            <tr>
                <td><a href="{{ url_for('transfer') }}">立即转账</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>